@import "tailwindcss";

.card-numbers {
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.flipped .card-numbers {
  opacity: 0;
  transition: opacity 0.1s ease-out;
}

.dragging .card-numbers {
  opacity: 0.7;
}
